.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;

  cursor: pointer;

  &--pill {
    height: 56px;
    width: 100%;
    max-width: 278px;
    margin-top: 40px;
    border-radius: 40px;

    background-color: #fff;
    color: #1d1d1d;

    transition: transform 0.3s;

    &:hover {
      box-shadow: 1px 4px 16px 0 #e8e8f066;
      transform: translateY(-3px);
    }

    &:active {
      box-shadow: 1px 4px 16px 0 #e8e8f0a3;
    }

    @include on-tablet {
      max-width: 392px;
      margin-top: 48px;
    }

    @include on-desktop {
      max-width: 324px;
      margin-bottom: 60px;
    }
  }
}
