.contact {
  padding-bottom: 120px;

  @include on-tablet {
    padding-bottom: 102px;
  }

  @include on-desktop {
    padding-bottom: 164px;
  }

  &__content {
    @include page-grid;

    row-gap: 40px;
  }

  &__form {
    display: grid;
    row-gap: 16px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__label {
    padding-bottom: 8px;
  }

  &__info {
    display: grid;
    align-self: start;
    row-gap: 24px;
    line-height: 140%;
    font-size: 14px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }

  &__field {
    height: 48px;
    padding: 8px 16px;
    border-radius: 40px;

    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #f8f8fa;
    color: #292929;

    outline: none;

    &:focus {
      box-shadow: 0 0 0 1px #c2c2c2;
    }

    &::placeholder {
      color: #7e7e83;
      font-size: 14px;
      line-height: 20px;
    }

    &--message {
      height: 148px;
      border-radius: 16px;
      resize: none;
    }
  }

  &__submit {
    max-width: none;
  }

  &__value {
    color: $main-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;

    @include hover(color, #696969);
  }
}
