.menu {
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  background-color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;

  &__top {
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #c2c2c2;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    @include content-padding-inline;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
    line-height: 27px;

    @include hover(color, #696969);
  }

  &__book-a-test-ride {
    padding-bottom: 7px;
    border-bottom: 1px solid #1d1d1d;

    display: block;
    width: fit-content;

    color: inherit;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    @include hover(transform, translateY(3px));
  }
}
