.product {
  font-weight: 700;
  line-height: 140%;
  font-size: 24px;

  &__photo {
    width: 100%;

    transition: transform $transition;
  }

  &__link {
    overflow: hidden;

    &:hover .product__photo {
      transform: scale(1.05);
    }
  }

  &__category {
    font-weight: 400;
    font-size: 16px;
  }
}
